.grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0 10em;
}

.grid_container .column {
    padding: 2em;
}

.grid_container .column:first-of-type {
    grid-column: span 2;
}

@media (max-width: 768px) {
    .grid_container {
        padding: 0 1em;
    }

    .grid_container .column {
        padding: 1em 2em;
    }
}