*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

span {
    color: whitesmoke;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: #222;
}

.grid_container .column {
    padding: 3em;
}

.heading {
    display: flex;
    align-items: center;
}

.heading img {
    width: 270px;
    height: 270px;
    border: 4px solid #c6c6c6;
    border-radius: 100%;
}

.heading h1, .heading h2 {
    margin-left: 3rem;
}

.heading h1 {
    font-size: 2rem;
}

.heading h2 {
    font-size: 1.5em;
    font-weight: normal;
    color: #c6c6c6;
}




