.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar ul li {
    position: relative;
    margin-right: 1em;
}

.navbar ul li:after {
    position: absolute;
    content: "___";
    top: 10px;
    left: 0;
    transition: transform .5s;
    transform: scaleX(0);
    transform-origin: right;
    color: var(--emphasis-color);
}

.navbar ul li:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.navbar ul li a {
    color:  var(--title-color);
    font-weight: bold;
}

.navbar ul li a:hover {
    color: var(--emphasis-color);
}
