.container {
    margin-top: 5em;
}

.container ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 12em;
}

.container ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
}

.container svg {
    font-size: 1.3em;
    color: var(--text-color);
}

.container button {
    width: 12em;
    height: 3em;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(to right, #3fd3e5, #4dc8a1, #8bb258, #c1912f, #e6624c);
    background-size: 200% auto;
    transition: background-position 0.5s linear;
    cursor: pointer;
}

.container button:hover {
    background-position: 100% 0;
}

.container button a {
    font-weight: bold;
    color: var(--title-color);
}

@media (max-width: 768px) {
    .container {
        margin-top: 1em;
    }

    .container ul, .container button {
        width: 100%;
    }
}