.container {
    margin-top: 5em;
}

.container ul {
    display: flex;
    justify-content: space-around;
    width: 10em;
}

.container ul li {
    list-style: none;
    color: #c6c6c6;
    border: 1px solid #c6c6c6;
    border-radius: 100%;
    padding: 0.5em;
}

.container svg {
    font-size: 1.3em;
}

.container button {
    margin-top: 2em;
    width: 10rem;
    height: 3em;
    border: none;
    border-radius: 20px;
    background-color: #3fd3e5;
}

.container button a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: whitesmoke;
}