.container .technologies img {
    width: 30px;
    margin-right: 1em;
}

.container .technologies p {
    margin-bottom: 0;
    margin-top: 0.5em;
}

@media (max-width: 768px) {
    .container .technologies img {
        margin-top: 0.5em;
    }
}